/* Estilos para dispositivos móveis */
@media (max-width: 480px) {
    .container {
      max-width: 90%;
      padding: 15px;
      border-radius: 15px;
    }
  
    input,
    button,
    select,
    textarea {
      width: 100%;
      font-size: 14px;
      padding: 10px;
    }
  
    h1, h2, h3, p, label {
      font-size: 14px;
    }
  
    button {
      font-size: 14px;
      padding: 10px;
    }
  
    .form-title {
      font-size: 18px;
    }
  }
  